@model IEnumerable<UltimateSecuritySurvey.Models.CustomerAnswer>

@{
    ViewBag.Title = "Index";
    ViewBag.PageHeader = ViewBag.SurveyTitle;
    ViewBag.SidebarHeader = "Status";
    int questionNumber = 1;
}

<div class="section-container accordion" data-section="accordion">
    @foreach(var item in Model)
    {
        <section>
            <p class="title" data-section-title>
                <a href="@Url.Action("Validate", new {id = item.surveyId, number = item.questionId })" 
                    class="icon-delete" data-reveal-id="@item.questionId" data-reveal-ajax="true">

                    @(questionNumber++) - @item.Question.questionTextMain <br />
                        @Html.DisplayNameFor(model => model.answerStatusValue) - @Html.DisplayFor(modelItem => item.answerStatusValue)
                        | @Html.DisplayNameFor(model => model.observerStatusValue) - @Html.DisplayFor(modelItem => item.observerStatusValue)

                </a>
            </p>
            <div class="content" data-section-content id="@item.questionId">
                <p>Content of section 1.</p>
            </div>
        </section>
    } 
</div>

@section Sidebar{
    Answered questions <br />
    @ViewBag.QuestionsAnswered / @ViewBag.QuestionsAmount
}

@section scripts{
    @Scripts.Render("~/Scripts/jsF/foundation/foundation.section.js")
}
