@model UltimateSecuritySurvey.Models.Question

@{
    ViewBag.Title = "Question editor";
}

@using (Html.BeginForm("CreateEdit", "Question")) {
    @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.questionId)

    <div class="row">
        <div class="large-6 columns">
            @Html.LabelFor(model => model.categoryId, "QuestionCategory")

            @Html.DropDownList("categoryId", String.Empty)
            @Html.ValidationMessageFor(model => model.categoryId)
        </div>
    </div>

    <div class="row">
        <div class="large-6 columns">
            @Html.LabelFor(model => model.questionTypeId, "QuestionType")

            @Html.DropDownList("questionTypeId", String.Empty)
            @Html.ValidationMessageFor(model => model.questionTypeId)
        </div>
    </div>

    <div class="row">
        <div class="large-9 columns">
            @Html.LabelFor(model => model.questionTextMain)

            @Html.EditorFor(model => model.questionTextMain)
            @Html.ValidationMessageFor(model => model.questionTextMain)
        </div>
    </div>

    <div class="row">
        <div class="large-9 columns">
            @Html.LabelFor(model => model.questionTextExtra)

            @Html.EditorFor(model => model.questionTextExtra)
            @Html.ValidationMessageFor(model => model.questionTextExtra)
        </div>
    </div>

    <div class="row">
        <div class="large-9 columns">
            @Html.LabelFor(model => model.baseLevel2RequirementText)

            @Html.EditorFor(model => model.baseLevel2RequirementText)
            @Html.ValidationMessageFor(model => model.baseLevel2RequirementText)
        </div>
    </div>

    <div class="row">
        <div class="large-6 columns">
            @Html.LabelFor(model => model.additionalInfo)

            @Html.EditorFor(model => model.additionalInfo)
            @Html.ValidationMessageFor(model => model.additionalInfo)
        </div>
    </div>

    <div class="row">
        <div class="large-6 columns">
            @Html.LabelFor(model => model.additionalNote)

            @Html.EditorFor(model => model.additionalNote)
            @Html.ValidationMessageFor(model => model.additionalNote)
        </div>
    </div>

    <input type="submit" value="Save" class="small button success"/>

}

    @Html.ActionLink("Back to List", "Index", null, new { @class="tiny button secondary"})


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
