@model UltimateSecuritySurvey.Models.Question

@{
    ViewBag.Title = "Question editor";
}

@using (Html.BeginForm("CreateEdit", "Question")) {
    @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.questionId)

        <div class="editor-label">
            @Html.LabelFor(model => model.categoryId, "QuestionCategory")
        </div>
        <div class="editor-field">
            @Html.DropDownList("categoryId", String.Empty)
            @Html.ValidationMessageFor(model => model.categoryId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.questionTypeId, "QuestionType")
        </div>
        <div class="editor-field">
            @Html.DropDownList("questionTypeId", String.Empty)
            @Html.ValidationMessageFor(model => model.questionTypeId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.questionTextMain)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.questionTextMain)
            @Html.ValidationMessageFor(model => model.questionTextMain)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.questionTextExtra)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.questionTextExtra)
            @Html.ValidationMessageFor(model => model.questionTextExtra)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.baseLevel2RequirementText)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.baseLevel2RequirementText)
            @Html.ValidationMessageFor(model => model.baseLevel2RequirementText)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.additionalInfo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.additionalInfo)
            @Html.ValidationMessageFor(model => model.additionalInfo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.additionalNote)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.additionalNote)
            @Html.ValidationMessageFor(model => model.additionalNote)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
