@model UltimateSecuritySurvey.Models.Question

@{
    ViewBag.Title = "Delete question";
}

@if (IsAjax)
{
    <a class="close-reveal-modal">&#215;</a>
}

<h2>Delete</h2>
<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Question</legend>

    @Html.HiddenFor(model => model.questionId)

    <div class="display-label">
         @Html.DisplayNameFor(model => model.QuestionCategory.categoryName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QuestionCategory.categoryName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.QuestionType.questionTypeName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QuestionType.questionTypeName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.questionTextMain)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.questionTextMain)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.questionTextExtra)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.questionTextExtra)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.baseLevel2RequirementText)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.baseLevel2RequirementText)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.additionalInfo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.additionalInfo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.additionalNote)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.additionalNote)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <div class="row">
        <div class="large-3 columns">
           <input type="submit" value="Delete" class="small button alert"/>
        </div>
        <div class="large-9 columns">
            @Html.ActionLink("Back to List", "Index", null, new { @class="small button"})
        </div>
    </div>
}
