@model UltimateSecuritySurvey.Models.Question

@{
    ViewBag.Title = "Question details";
}

<h2>Details</h2>
<h3> @ViewBag.DeleteError </h3>

    <div class="display-label">
         <h5>@Html.DisplayNameFor(model => model.QuestionCategory.categoryName)</h5>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QuestionCategory.categoryName)
    </div>

    <div class="display-label">
         <h5>@Html.DisplayNameFor(model => model.QuestionType.questionTypeName)</h5>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QuestionType.questionTypeName)
    </div>

    <div class="display-label">
         <h5>@Html.DisplayNameFor(model => model.questionTextMain)</h5>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.questionTextMain)
    </div>

    <div class="display-label">
         <h5>@Html.DisplayNameFor(model => model.questionTextExtra)</h5>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.questionTextExtra)
    </div>

    <div class="display-label">
         <h5>@Html.DisplayNameFor(model => model.baseLevel2RequirementText)</h5>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.baseLevel2RequirementText)
    </div>

    <div class="display-label">
         <h5>@Html.DisplayNameFor(model => model.additionalInfo)</h5>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.additionalInfo)
    </div>

    <div class="display-label">
         <h5>@Html.DisplayNameFor(model => model.additionalNote)</h5>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.additionalNote)
    </div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.questionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>


<fieldset>
    <legend>Answer Options</legend>
    <div class="scrollable">
        @Html.ActionLink("Create New", "Create", "AnswerOption", new { id = Model.questionId }, null)

        @Html.Partial("AnswerOptionList_Partial", Model.AnswerOptions)
    </div>
</fieldset>



<fieldset>
    <legend>Generic countermeasures</legend>
    <div class="scrollable">
        @Html.ActionLink("Create New", "Create", "GenericCountermeasure", new { id = Model.questionId }, null)

        @Html.Partial("GenericCountermeasureList_Partial", Model.GenericCountermeasures)
    </div>
</fieldset>
