@model IEnumerable<UltimateSecuritySurvey.Models.GenericCountermeasure>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateAndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.motherCountermeasure)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateAndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.motherCountermeasure)
        </td>
        <td>
            <div class="iconHolder">
            @Html.ActionLink(" ", "Edit", "GenericCountermeasure", new { id=item.countermeasureId }, 
                                                                        new { @class="step fi-pencil size-24 black"})

            <a href="@Url.Action("Delete", "GenericCountermeasure", new { id = item.countermeasureId })" 
                class="fi-trash size-24 black" title="Delete" data-reveal-id="deleteModal" data-reveal-ajax="true"> </a>
            </div>
        </td>
    </tr>
}

</table>
