@model IEnumerable<UltimateSecuritySurvey.Models.Question>

@{
    ViewBag.Title = "Questions";
}

<h2>Questions</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class="tiny button secondary"})
</p>
<div class="scrollable-large">
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.QuestionCategory.categoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.questionTextMain)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.questionTextExtra)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionCategory.categoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.questionTextMain)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.questionTextExtra)
        </td>
        <td>
            <div class="iconHolder">
                @Html.ActionLink(" ","Edit",new {id = item.questionId}, new { title = "Edit", @class = "icon-edit" })
                @Html.ActionLink(" ","Details",new {id = item.questionId}, new { title="Details", @class = "icon-details" })

                <a href="@Url.Action("Delete", new {id = item.questionId})" class="icon-delete"
                        title="Delete" data-reveal-id="deleteModal" data-reveal-ajax="true"> </a>
            </div>
        </td>
    </tr>
}

</table>
</div>