@model UltimateSecuritySurvey.Models.CustomerAnswer

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CustomerAnswer</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.surveyId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.surveyId)
            @Html.ValidationMessageFor(model => model.surveyId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.questionId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.questionId)
            @Html.ValidationMessageFor(model => model.questionId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.answerOptionNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.answerOptionNumber)
            @Html.ValidationMessageFor(model => model.answerOptionNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.answerText)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.answerText)
            @Html.ValidationMessageFor(model => model.answerText)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.answerStatusValue)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.answerStatusValue)
            @Html.ValidationMessageFor(model => model.answerStatusValue)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.observerStatusValue)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.observerStatusValue)
            @Html.ValidationMessageFor(model => model.observerStatusValue)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.countermeasureId1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.countermeasureId1)
            @Html.ValidationMessageFor(model => model.countermeasureId1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.countermeasureId2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.countermeasureId2)
            @Html.ValidationMessageFor(model => model.countermeasureId2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.countermeasureId3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.countermeasureId3)
            @Html.ValidationMessageFor(model => model.countermeasureId3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.observerComment)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.observerComment)
            @Html.ValidationMessageFor(model => model.observerComment)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.observerCommentDateAndTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.observerCommentDateAndTime)
            @Html.ValidationMessageFor(model => model.observerCommentDateAndTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.supervisorComment)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.supervisorComment)
            @Html.ValidationMessageFor(model => model.supervisorComment)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.supervisorCommentDateAndTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.supervisorCommentDateAndTime)
            @Html.ValidationMessageFor(model => model.supervisorCommentDateAndTime)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
