@model IEnumerable<UltimateSecuritySurvey.Models.CustomerAnswer>
@using UltimateSecuritySurvey.Utility

@{
    ViewBag.Title = "Index";
    ViewBag.PageHeader = ViewBag.SurveyTitle;
    int questionNumber = 1;
}

<div class="section-container accordion" data-section="accordion">
    @foreach(var item in Model)
    {
        <section>
            <p class="title" data-section-title>
                @Ajax.CustomActionLink(String.Format("{0} - {1} <br /> Answer Status: {2} | Observer Status: {3}", 
                                        questionNumber++, item.Question.questionTextMain,
                                        item.AnswerStatu.description, item.observerStatusValue),
                            "Validate",
                            new { id = item.surveyId, number = item.questionId },
                            new AjaxOptions{
                                HttpMethod = "GET",
                                InsertionMode = InsertionMode.Replace,
                                UpdateTargetId = item.questionId.ToString()
                            })
            </p>
            <div class="content" data-section-content id="@item.questionId">
            </div>
        </section>
    } 
</div>

@section Sidebar{
    <div class="panel scrollable-medium">
        <h5>Status</h5>

        <table>
            <tr>
                <td>Answered questions</td>
                <th class="ColumnWidth-28">@ViewBag.AnsweredQuestions</th>
            </tr>
            <tr>
                <td>Average observer status</td>
                <th>@ViewBag.AverageObserverStatus</th>
            </tr>
        </table>

        <h6>Survey progress</h6>
        <div class="progress large-12 success round">
            <span class="meter" style="width: @ViewBag.SurveyProgress"></span>
        </div>
    </div>    
}

@section scripts{
    @Scripts.Render("~/Scripts/jsF/fSectionMod.js",
        "~/Scripts/jquery.unobtrusive-ajax.min.js")
}
