@model UltimateSecuritySurvey.Models.CustomerAnswer

@{
    ViewBag.Title = "Validate";
    ViewBag.PageHeader = "Validate Answer";
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.surveyId)
        @Html.HiddenFor(model => model.questionId)
        @Html.HiddenFor(model => model.answerStatusValue)

    <div class="row">
        <div class="large-4 columns">
            @Html.LabelFor(model => model.answerOptionNumber, "Answer Option")
            @Html.HiddenFor(model => model.answerOptionNumber)
            @Html.DisplayFor(model => model.AnswerOption.answerText)
        </div>
        <div class="large-4 columns">
            @Html.LabelFor(model => model.answerText)
            @Html.HiddenFor(model => model.answerText)
            @Html.DisplayFor(model => model.answerText)
        </div>
        <div class="large-4 columns">
            @Html.LabelFor(model => model.observerStatusValue, "Observer Status")
            @Html.HiddenFor(model => model.observerStatusValue)
            @Html.DisplayFor(model => model.ObserverStatu.description)
        </div>
    </div>

    <div class="row">
        <div class="large-4 columns">
            @Html.LabelFor(model => model.countermeasureId1)
            @Html.HiddenFor(model => model.countermeasureId1)
            @Html.DisplayFor(model => model.countermeasureId1)
        </div>
        <div class="large-4 columns">
            @Html.LabelFor(model => model.countermeasureId2)
            @Html.HiddenFor(model => model.countermeasureId2)
            @Html.DisplayFor(model => model.countermeasureId2)
        </div>
        <div class="large-4 columns">
            @Html.LabelFor(model => model.countermeasureId3)
            @Html.HiddenFor(model => model.countermeasureId3)
            @Html.DisplayFor(model => model.countermeasureId3)
        </div>
    </div>

    <div class="row">
        <div class="large-8 columns">
            @Html.LabelFor(model => model.observerComment)
            @Html.HiddenFor(model => model.observerComment)
            @Html.DisplayFor(model => model.observerComment)
        </div>
        <div class="large-4 columns">
            @Html.LabelFor(model => model.observerCommentDateAndTime)
            @Html.HiddenFor(model => model.observerCommentDateAndTime)
            @Html.DisplayFor(model => model.observerCommentDateAndTime)
        </div>
    </div>

    <div class="row">
        <div class="large-8 columns">
            @Html.LabelFor(model => model.supervisorComment)

            @Html.EditorFor(model => model.supervisorComment)
            @Html.ValidationMessageFor(model => model.supervisorComment)
        </div>
        <div class="large-4 columns">
            @Html.LabelFor(model => model.supervisorCommentDateAndTime, "Supervisor comment Date")

            @Html.EditorFor(model => model.supervisorCommentDateAndTime)
            @Html.ValidationMessageFor(model => model.supervisorCommentDateAndTime)
        </div>
    </div>

    <input type="submit" value="Save" class="small round button success" />
}

@Html.ActionLink("Back to List", "Index", new { id = Model.surveyId, number = Model.questionId }, 
                new { @class = "small button secondary" })

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
