@model UltimateSecuritySurvey.Models.QuestionCategory

@{
    ViewBag.Title = "Category editor";
}

@using (Html.BeginForm("CreateEdit", "Category")) {
    @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.categoryId)

    <div class="row">
        <div class="large-6 columns">
            @Html.LabelFor(model => model.categoryName)

            @Html.EditorFor(model => model.categoryName)
            @Html.ValidationMessageFor(model => model.categoryName)
        </div>
    </div>
    <div class="row">
        <div class="large-9 columns">
            @Html.LabelFor(model => model.description)

            @Html.EditorFor(model => model.description)
            @Html.ValidationMessageFor(model => model.description)
        </div>
    </div>
    
    <input type="submit" value="Save" class="small button success"/>
}

    @Html.ActionLink("Back to List", "Index", null, new { @class="tiny button secondary"})

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}