@model UltimateSecuritySurvey.Models.QuestionCategory

@{
    ViewBag.Title = "Delete category";
}

@if (IsAjax)
{
    <a class="close-reveal-modal">&#215;</a>
    ViewBag.PageHeader = "Delete";
}
else
{
    <h3>Delete</h3>
}

<h4>Are you sure you want to delete this?</h4>

    @Html.HiddenFor(model => model.categoryId)

    <h5>@Html.DisplayNameFor(model => model.categoryName)</h5>

    <p>@Html.DisplayFor(model => model.categoryName)</p>

    <h5>@Html.DisplayNameFor(model => model.description)</h5>
    <p>@Html.DisplayFor(model => model.description)</p>
    


@using (Html.BeginForm()) {
    <div class="row">
        <div class="large-3 columns">
            <input type="submit" value="Delete" class="small button alert"/>
        </div>
        <div class="large-9 columns">
            @Html.ActionLink("Back to List", "Index", null, new { @class="small button"})
        </div>
    </div>
        
}

