@model UltimateSecuritySurvey.Models.QuestionCategory

@{
    ViewBag.Title = "Category details";
}

<h2>Details</h2>

    <div class="display-label">
      <h5>@Html.DisplayNameFor(model => model.categoryName) </h5>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.categoryName)
    </div>

    <div class="display-label">
       <h5> @Html.DisplayNameFor(model => model.description) </h5>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.categoryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
