@model UltimateSecuritySurvey.Models.QuestionCategory

@{
    ViewBag.Title = "Category details";
    ViewBag.PageHeader = "Category details";
}

    <h5>@Html.DisplayNameFor(model => model.categoryName) </h5>
    <p>@Html.DisplayFor(model => model.categoryName)</p>

    <h5> @Html.DisplayNameFor(model => model.description) </h5>
    <p>@Html.DisplayFor(model => model.description)</p>

<ul class="button-group round">
    <li>@Html.ActionLink("Edit", "Edit", new { id = Model.categoryId }, new { @class = "tiny button secondary"})</li>
    <li>@Html.ActionLink("Back to List", "Index", null, new { @class = "tiny button secondary" })</li>
</ul>
