@model IEnumerable<UltimateSecuritySurvey.Models.QuestionCategory>

@{
    ViewBag.Title = "Categories";
    ViewBag.PageHeader = "Categories";
    ViewBag.SidebarHeader = "Sidebar";
}

@section Sidebar{
    @Html.ActionLink("Create New", "Create", null, new { @class="tiny button secondary"})
}
    
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.categoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.categoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            <div class="iconHolder">
                @Html.ActionLink(" ","Edit",new {id = item.categoryId}, new{ title = "Edit", @class = "icon-edit" })
                @Html.ActionLink(" ","Details",new {id = item.categoryId}, new{title="Details", @class = "icon-details" })

                <a href="@Url.Action("Delete", new {id = item.categoryId})" class="icon-delete"
                        title="Delete" data-reveal-id="deleteModal" data-reveal-ajax="true"> </a>
            </div>
        </td>
    </tr>
}
</table>

