@model IEnumerable<UltimateSecuritySurvey.Models.QuestionCategory>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h3> @ViewBag.DeleteError </h3>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.categoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.categoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.categoryId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.categoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.categoryId }) |
            @Html.ActionLink("Details", "Details", new { id = item.categoryId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.categoryId })
        </td>
    </tr>
}

</table>
