@model IEnumerable<UltimateSecuritySurvey.Models.QuestionCategory>

@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>
<h3> @ViewBag.DeleteError </h3>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class="tiny button secondary"})
</p>

<div class="CSSTableGenerator">
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.categoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.categoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            <div class="iconHolder">
                @Html.ActionLink(" ","Edit",new {id = item.categoryId}, new{ title = "Edit", @class = "icon-edit" })
                @Html.ActionLink(" ","Details",new {id = item.categoryId}, new{title="Details", @class = "icon-details" })
                @Html.ActionLink(" ","Delete",new {id = item.categoryId}, new{title="Delete", @class = "icon-delete" }) 
            </div>
        </td>
    </tr>
}

</table>
</div>