<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")

    @Styles.Render("~/Content/skeletonCSS/base.css")
    @Styles.Render("~/Content/skeletonCSS/layout.css")
    @Styles.Render("~/Content/skeletonCSS/skeleton.css")
    @Styles.Render("~/Content/table.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="container">
        <div class="sixteen columns clearfix">
            <div class="four columns alpha">
                <img src="@Url.Content("~/Content/themes/base/images/logo.jpg")" alt="logo" />
            </div>
            <div class="ten columns"><h1>Ultimate Security Survey</h1></div>
            <div class="two columns omega"><h6>@DateTime.Now.DayOfWeek</h6></div>
        </div>

        <div class="sixteen columns">
            <nav>
                @Html.ActionLink("Dashboard", "Index", "Home")
                @Html.ActionLink("Categories", "Index", "Category")
                @Html.ActionLink("Questions", "Index", "Question")
                @Html.ActionLink("Customers", "Index", "Customer")
                @Html.ActionLink("Users", "Index", "User")
                @Html.ActionLink("About", "Index", "About")
            </nav>
        </div>
        
        <div class="sixteen columns clearfix">
            @RenderBody()
        </div>

        <div class="sixteen columns">

            <footer>
                Ultimate Security Survey &copy; 2013   
            </footer>

        </div>

    </div><!--END of .container-->

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
