<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/Content/imgs/favicon.ico")">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css/foundation.css",
                   "~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="top-bar">
        <ul class="title-area">
			<li class="name"><h1>@Html.ActionLink("Ultimate Security Survey", "Index", "Home")</h1></li>
			<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
		</ul>
        <section class="top-bar-section">
            <ul>
                <li>@Html.ActionLink("Dashboard", "Index", "Home")</li>
            @if (User.IsInRole("Teacher"))
            {   
                //Different menus                                
                <li>@Html.ActionLink("Categories", "Index", "Category")</li>
                <li>@Html.ActionLink("Questions", "Index", "Question")</li>                                 
            }
                <li>@Html.ActionLink("Users", "Index", "User")</li>
                <li>@Html.ActionLink("Customers", "Index", "Customer")</li>
                <li>@Html.ActionLink("Surveys", "Index", "CustomerSurvey")</li>
                <li>@Html.ActionLink("About", "Index", "About")</li> 

            </ul>
            <ul class="right">
                <li class="divider"></li>
                <li class="has-dropdown">    
                            
                    <a href="#">@Html.Encode(User.Identity.Name)</a>
                            
                    <ul class="dropdown right">
                        <li>@Html.ActionLink("My profile", "MyProfile", "Account")</li>
                        <li>@Html.ActionLink("Sign Out", "Logout", "Account")</li>                      
                    </ul>
                </li>
            </ul>
        </section>
    </nav>
    <header>
        <div class="row">
            <div class="large-12 columns">
                <div class="large-3 columns">
					<h1><img src="@Url.Content("~/Content/imgs/haaga-helia.png")" alt="HH logo"></h1>
				</div>
                <div class="large-9 columns">
                    <h2>Ultimate Security Survey<br /> <small>Have you tried turning it off and on again?</small></h2>
                </div>
            </div>
            <hr />
        </div>
    </header>
    <div class="row"><!--BodyRow-->
        <div class="large-12 columns">
            <h3>@ViewBag.PageHeader</h3>

            <div class="row"><!--Content+SidebarRow-->
                <div class="large-9 columns">
 
                    @if (ViewBag.Error != null)
                    {
                        <div data-alert="" class="alert-box alert">
                            @ViewBag.Error
                            <a href="#" class="close">&times;</a>
                        </div>
                    }
                    @if (ViewBag.Warning != null)
                    {
                        <div data-alert="" class="alert-box secondary">
                            @ViewBag.Warning
                            <a href="#" class="close">&times;</a>
                        </div>
                    }

                    @RenderBody()
				</div>

                @if (ViewBag.SidebarHeader != null)
                {
                    <div class="large-3 columns panel scrollable-medium">
					    <h5>@ViewBag.SidebarHeader</h5>

                        @RenderSection("Sidebar", required: false)
			        </div>
                }
                
            </div><!--END Content+SidebarRow-->           
        </div> 
                                   
    </div><!--END BodyRow-->

<footer>
    <div class="row">
        <hr>
        <div class="large-12 columns">
          <div class="row">
            <div class="large-5 columns">
              <p>Daniel Freitas, Topi Asikainen, Antti Marsio, Alexander Shkunov<b>(SCRUMO MASTERO!)</b></p>
              <p>&copy; Copyright | <a href="#">Privacy Policy</a></p>
            </div>
            <div class="large-5 columns">
              <p>
                  <img src="http://icons.iconarchive.com/icons/danleech/simple/512/github-icon.png" style="width: 30px;" />
                  <a href="https://github.com/Ytseboy/Ultimate-Security-Survey" >Github</a>
              </p>
              <p>
                  <img src="@Url.Content("~/Content/imgs/haaga-helia.png")" style="width: 30px;" alt="HH logo">
                  <a href="http://www.haaga-helia.fi">Haaga-Helia</a>
              </p>
            </div>
@*            <div class="large-3 columns">
              <p>Newsletter:</p>
              <p><input type="text" value="Email Address"><input type="submit" class="button radius right"></p>
            </div>*@
          </div>
        </div>
    </div>
  </footer>

    @Scripts.Render("~/bundles/jquery")
    <script>
    document.write('<script src= ~/Scripts/jsF/vendor/'
        + ('__proto__' in {} ? 'zepto' : 'jquery')
        + '.js><\/script>');
    </script>

    @Scripts.Render("~/Scripts/jsF/foundation/foundation.js",
                    "~/Scripts/jsF/foundation/foundation.topbar.js",
                    "~/Scripts/jsF/foundation/foundation.alerts.js",
                    "~/Scripts/jsF/foundation/foundation.reveal.js")
    <!-- Other JS plugins can be included here -->

    @RenderSection("scripts", required: false)

    <script>
        $(document).foundation();
    </script>

    <div id="deleteModal" class="reveal-modal tiny"><!--DialogBox-->   
    </div>
</body>
</html>
