@model UltimateSecuritySurvey.Models.UserAccount

@{
    ViewBag.Title = "User editor";
}

@using (Html.BeginForm("CreateEdit", "User")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.userId)
    
    <div class="row">
        <div class="large-6 columns">
            @Html.LabelFor(model => model.firstName)

            @Html.EditorFor(model => model.firstName)
            @Html.ValidationMessageFor(model => model.firstName)
        </div>
    </div>

    <div class="row">
        <div class="large-6 columns">
            @Html.LabelFor(model => model.lastName)

            @Html.EditorFor(model => model.lastName)
            @Html.ValidationMessageFor(model => model.lastName)
        </div>
    </div>

    <div class="row">
        <div class="large-6 columns">
            @Html.LabelFor(model => model.email)

            @Html.EditorFor(model => model.email)
            @Html.ValidationMessageFor(model => model.email)
        </div>
    </div>

    <div class="row">
        <div class="large-6 columns">
            @Html.LabelFor(model => model.phone)

            @Html.EditorFor(model => model.phone)
            @Html.ValidationMessageFor(model => model.phone)
        </div>
    </div>

    <div class="row">
        <div class="large-6 columns">
            @Html.LabelFor(model => model.userName)

            @Html.EditorFor(model => model.userName)
            @Html.ValidationMessageFor(model => model.userName)
        </div>
    </div>

    <div class="row">
        <div class="large-6 columns">
            @Html.LabelFor(model => model.password)

            @Html.EditorFor(model => model.password)
            @Html.ValidationMessageFor(model => model.password)
        </div>
    </div>

    <div class="row">
        <div class="large-4 columns">
            @Html.LabelFor(model => model.isTeacher)

            @Html.EditorFor(model => model.isTeacher)
            @Html.ValidationMessageFor(model => model.isTeacher)
        </div>
    </div>

    <input type="submit" value="Save" class="small button success"/>
  
}

    @Html.ActionLink("Back to List", "Index", null, new { @class="tiny button secondary"})

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
