@model UltimateSecuritySurvey.Models.UserAccount

@{
    ViewBag.Title = "User details";
    ViewBag.PageHeader = "Users Details";
}

    <div class="display-label">
        <h5>Full name</h5>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.firstName)
        @Html.DisplayFor(model => model.lastName)
    </div>

    <div class="display-label">
        <h5>@Html.DisplayNameFor(model => model.email)</h5>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.email)
    </div>

    <div class="display-label">
        <h5>@Html.DisplayNameFor(model => model.phone)</h5>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.phone)
    </div>

    <div class="display-label">
        <h5>@Html.DisplayNameFor(model => model.userName)</h5>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.userName)
    </div>

    <div class="display-label">
        <h5>@Html.DisplayNameFor(model => model.isTeacher)</h5>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.isTeacher)
    </div>

<ul class="button-group">
    @if (User.IsInRole("Teacher"))
    {
        <li>@Html.ActionLink("Edit", "Edit", new {id=Model.userId}, new { @class = "tiny button secondary"})</li>
    }    
    <li>@Html.ActionLink("Back to List", "Index", null, new { @class = "tiny button secondary"})</li>
</ul>

@section Sidebar{
    @{
        ICollection<UltimateSecuritySurvey.Models.CustomerSurvey> participation;
    
        //Shows the surveys this user is participating
        if (Model.isTeacher)
        {
            participation = Model.CustomerSurveys1;
            <h5>Supervisor in surveys:</h5>
        }
        else
        {
            participation = Model.CustomerSurveys;
            <h5>Observer in surveys:</h5>
        }
    }
    <ul>
        @foreach (var item in participation)
        {
            <li>- @Html.ActionLink(item.customerSurveyTitle, "Details", "CustomerSurvey", 
                        new { id = item.surveyId }, null)</li>
        }
    </ul>
}

        