@model UltimateSecuritySurvey.Models.UserAccount

@{
    ViewBag.Title = "User details";
}

<h2>Details</h2>
        
    @Html.HiddenFor(model => model.userId)

    <div class="display-label">
        <h5>@Html.DisplayNameFor(model => model.firstName)</h5>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.firstName)
    </div>

    <div class="display-label">
        <h5>@Html.DisplayNameFor(model => model.lastName)</h5>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lastName)
    </div>

    <div class="display-label">
        <h5>@Html.DisplayNameFor(model => model.email)</h5>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.email)
    </div>

    <div class="display-label">
        <h5>@Html.DisplayNameFor(model => model.phone)</h5>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.phone)
    </div>

    <div class="display-label">
        <h5>@Html.DisplayNameFor(model => model.userName)</h5>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.userName)
    </div>

    <div class="display-label">
        <h5>@Html.DisplayNameFor(model => model.isTeacher)</h5>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.isTeacher)
    </div>

<p>
    @Html.ActionLink("Edit", "Edit", new {id=Model.userId}) |
    @Html.ActionLink("Back to List", "Index")
</p>

<!--Sidebar Info-->
@{ICollection<UltimateSecuritySurvey.Models.CustomerSurvey> participation;
    
    //Shows the surveys this user is participating
    if (Model.isTeacher)
    {
        participation = Model.CustomerSurveys1;
        <h5>Supervisor in surveys:</h5>
    }
    else
    {
        participation = Model.CustomerSurveys;
        <h5>Observer in surveys:</h5>
    }
}
    <ul>
        @foreach (var item in participation)
        {
            <li>- @Html.DisplayFor(model => item.customerSurveyTitle)</li>
        }
    </ul>
        