@model IEnumerable<UltimateSecuritySurvey.Models.UserAccount>

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>
<h3> @ViewBag.DeleteError </h3>
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class="tiny button secondary"})
</p>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.isTeacher)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.isTeacher)
        </td>
        <td>
            @Html.ActionLink(" ","Edit",new {id = item.userId}, 
                    new{title="Edit", style = "background: url('" + Url.Content("~/Content/imgs/pencil.png") + "') no-repeat center right; display:inline-block; height:24px; width:28px;"})

            @Html.ActionLink(" ","Details",new {id = item.userId}, 
                    new{title="Details", style = "background: url('" + Url.Content("~/Content/imgs/notepad.png") + "') no-repeat center right; display:inline-block; height:24px; width:28px;"})

            @Html.ActionLink(" ","Delete",new {id = item.userId}, 
                    new{title="Delete", style = "background: url('" + Url.Content("~/Content/imgs/bin.png") + "') no-repeat center right; display:inline-block; height:24px; width:28px;"}) 
        
            
        </td>
    </tr>
}
</table>
