@model IEnumerable<UltimateSecuritySurvey.Models.UserAccount>

@{
    ViewBag.Title = "Users";
    ViewBag.PageHeader = "Users";
    bool teacherRoleCheck = User.IsInRole("Teacher");
}

@section Sidebar{
    @if (teacherRoleCheck)
    {
        @Html.ActionLink("Create New", "Create")
    }   
}

<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.isTeacher)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.firstName)
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.isTeacher)
        </td>
        <td>
            @if (teacherRoleCheck)
            {
                <div class="iconHolder">
                    @Html.ActionLink(" ","Edit", new { id = item.userId }, 
                            new{ title = "Edit", @class = "step fi-pencil size-24 black" })
                    @Html.ActionLink(" ","Details", new { id = item.userId }, 
                            new{title="Details", @class = "fi-page size-24 black" })

                    <a href="@Url.Action("Delete", new {id = item.userId})" class="fi-trash size-24 black"
                            title="Delete" data-reveal-id="deleteModal" data-reveal-ajax="true"> </a>
                </div>
            }
            else
            {
                @Html.ActionLink(" ","Details", new { id = item.userId }, 
                            new{title="Details", @class = "fi-page size-24 black" })
            }           
        </td>
    </tr>
}
</table>
