@{
    Layout = null;
}

@if (Request.IsAuthenticated)
{
    //If user is already logged In --> Redirect to Dashboard
    Response.Redirect("/Home");
}

<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>Login - Ultimate Security Survey</title>
    @Styles.Render("~/Content/Site.css",
                   "~/Content/css/foundation.css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <div class="row">
        <div class="large-12 columns">
            <div class="large-3 columns">
			    <h1><img src="@Url.Content("~/Content/imgs/haaga-helia.png")" alt=""></h1>
		    </div>
            <div class="large-9 columns">
                <h1>Ultimate Security Survey</h1>
            </div>
        </div>
        <hr />
    </div>
    
    @using (Html.BeginForm()) {
        @Html.ValidationSummary(true)
            <div class="row">
                <div class="small-6 small-centered columns">

                    @if (ViewBag.Error != null)
                    {
                        <div data-alert="" class="alert-box alert">
                            @ViewBag.Error
                            <a href="#" class="close">&times;</a>
                        </div>
                    }

                    <div class="panel">
                        <label>User name or email: teacher || marry@mail.com</label>
                        @Html.TextBox("name", "teacher")
                        <label>Password: 000000</label>
                        @Html.Password("password", "000000")
                       <input type="submit" value="Log In" class="small button"/>
                    </div>
                    <a href="#">Need help?</a>
                </div>
            </div>
    }

    @Scripts.Render("~/bundles/jquery",
                    "~/Scripts/jsF/foundation/foundation.alerts.js")
</body>
</html>
