@model IEnumerable<UltimateSecuritySurvey.Models.CustomerSurvey>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.customerSurveyTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.companyName)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.startDate)
        </th>
        <th>
            Observer
        </th>
        <th>
            Supervisor
        </th>
        <th>
            @Html.DisplayNameFor(model => model.endDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.customerSurveyTitle, "Index", "SurveyReport", 
                            new { id = item.surveyId }, new { title = "Survey Report" })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.companyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserAccount.userName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserAccount1.userName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.endDate)
        </td>
        <td>
            @Html.ActionLink(" ", "Details", "CustomerSurvey", new { id = item.surveyId }, 
                        new{ title="Details", @class = "fi-page size-24 black" }) 
        </td>
    </tr>
}

</table>
