@model UltimateSecuritySurvey.Models.CustomerSurvey

@{
    ViewBag.Title = "Customer survey editor";
}

@using (Html.BeginForm("CreateEdit", "CustomerSurvey"))
{
    @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.surveyId)

    <div class="row">
        <div class="large-6 columns">
            @Html.LabelFor(model => model.customerSurveyTitle)

            @Html.EditorFor(model => model.customerSurveyTitle)
            @Html.ValidationMessageFor(model => model.customerSurveyTitle)
        </div>
    </div>
        
    <div class="row">
        <div class="large-6 columns">
            @Html.LabelFor(model => model.customerId, "Customer")

            @Html.DropDownList("customerId", String.Empty)
            @Html.ValidationMessageFor(model => model.customerId)
        </div>
    </div>
    
    <div class="row">
        <div class="large-6 columns">
            @Html.LabelFor(model => model.baseSurveyId, "Base Survey")

            @Html.DropDownList("baseSurveyId", String.Empty)
            @Html.ValidationMessageFor(model => model.baseSurveyId)
        </div>
    </div>

    <div class="row">
        <div class="large-4 columns">
            @Html.LabelFor(model => model.startDate)

           @* @Html.EditorFor(model => model.startDate)*@
            @*<input type="text" id="datepicker" value="@Model.startDate" />*@
            @Html.TextBoxFor(model => model.startDate, new {id="datepicker"})
            @Html.ValidationMessageFor(model => model.startDate)
        </div>
    </div>

    <div class="row">
        <div class="large-9 columns">
            @Html.LabelFor(model => model.startComment)

            @Html.EditorFor(model => model.startComment)
            @Html.ValidationMessageFor(model => model.startComment)
        </div>
    </div>

    <div class="row">
        <div class="large-6 columns">
            @Html.LabelFor(model => model.observerUserId, "Observer")

            @Html.DropDownList("observerUserId", String.Empty)
            @Html.ValidationMessageFor(model => model.observerUserId)
        </div>
    </div>

    <div class="row">
        <div class="large-6 columns">
            @Html.LabelFor(model => model.supervisorUserId, "Supervisor")

          <p> @Html.DisplayFor(model => model.UserAccount1.firstName)
            @Html.DisplayFor(model => model.UserAccount1.lastName)</p> 
            @Html.HiddenFor(model => model.supervisorUserId)
            @Html.ValidationMessageFor(model => model.supervisorUserId)
        </div>
    </div>

    <div class="row">
        <div class="large-4 columns">
            @Html.LabelFor(model => model.endDate)

            @Html.EditorFor(model => model.endDate)
            @Html.ValidationMessageFor(model => model.endDate)
        </div>
    </div>

    <div class="row">
        <div class="large-9 columns">
            @Html.LabelFor(model => model.endComment)

            @Html.EditorFor(model => model.endComment)
            @Html.ValidationMessageFor(model => model.endComment)
        </div>
    </div>

        <input type="submit" value="Save" class="small button success"/>

}
    @Html.ActionLink("Back to List", "Index", null, new { @class="tiny button secondary" })

@section Scripts {
    @Scripts.Render( "~/Scripts/jquery-ui-1.8.24.min.js")

    @Styles.Render("~/Content/themes/base/jquery.ui.datepicker.css")

     <script>
         $(function () {
             $("#datepicker").datepicker({ dateFormat: 'dd.mm.yy' });
         });
    </script>
}

