@model UltimateSecuritySurvey.Models.CustomerSurvey

@{
    ViewBag.Title = "Delete survey";
}

@if (IsAjax)
{
    <a class="close-reveal-modal">&#215;</a>
}

<h2>Delete</h2>
<h3>Are you sure you want to delete this?</h3>
    
    @Html.HiddenFor(model => model.surveyId)

    <div class="display-label">
         @Html.DisplayNameFor(model => model.customerSurveyTitle)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.customerSurveyTitle)
    </div>

    <div class="display-label">
         Base survey
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GenericSurvey.title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Customer.companyName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Customer.companyName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.startDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.startDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.startComment)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.startComment)
    </div>

    <div class="display-label">
         Observer
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserAccount.firstName)
        @Html.DisplayFor(model => model.UserAccount.lastName)
    </div>

    <div class="display-label">
         Supervisor
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserAccount1.firstName)
        @Html.DisplayFor(model => model.UserAccount1.lastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.endDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.endDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.endComment)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.endComment)
    </div>

@using (Html.BeginForm()) {
        <input type="submit" value="Delete" class="small button alert"/>       
}

@Html.ActionLink("Back to List", "Index", null, new { @class="tiny button secondary"})