@model UltimateSecuritySurvey.Models.CustomerSurvey

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

    <div class="display-label">
        <h5>@Html.DisplayNameFor(model => model.customerSurveyTitle)</h5>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.customerSurveyTitle)
    </div>
    
    <div class="display-label">
         <h5>@Html.DisplayNameFor(model => model.Customer.companyName)</h5>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Customer.companyName)
    </div>

    <div class="display-label">
         <h5>Base survey</h5>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GenericSurvey.title)
    </div>
    <div class="display-label">
        <h5>Status of Answered Questions</h5>
    </div>
    <div class="display-field">
        @ViewBag.QuestionsAnswered / @ViewBag.QuestionsAmount
    </div>
    <h5>Average Observer Status</h5>
    @if (ViewBag.Average != null)
    {
        @ViewBag.Average
    }
    else
    {
        <p>No answers for this survey yet.</p>
    }

    <div class="display-label">
         <h5>@Html.DisplayNameFor(model => model.startDate)</h5>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.startDate)
    </div>

    <div class="display-label">
         <h5>@Html.DisplayNameFor(model => model.startComment)</h5>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.startComment)
    </div>

    <div class="display-label">
        <h5>Observer</h5>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserAccount.firstName)
        @Html.DisplayFor(model => model.UserAccount.lastName)
    </div>

    <div class="display-label">
        <h5>Supervisor</h5>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserAccount1.firstName)
        @Html.DisplayFor(model => model.UserAccount1.lastName)
    </div>

    <div class="display-label">
         <h5>@Html.DisplayNameFor(model => model.endDate)</h5>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.endDate)
    </div>

    <div class="display-label">
         <h5>@Html.DisplayNameFor(model => model.endComment)</h5>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.endComment)
    </div>

<ul class="button-group round">
@if (User.IsInRole("Teacher"))
{
    <li>@Html.ActionLink("Edit", "Edit", new {  id=Model.surveyId }, new { @class = "tiny button secondary"})</li>
}
@if (User.Identity.Name == Model.UserAccount.userName || User.Identity.Name == Model.UserAccount1.userName)
{
    <li>@Html.ActionLink("Survey Report", "Index", "SurveyReport", new {  id=Model.surveyId }, 
                    new { @class = "tiny button secondary"})</li>
}
       
    <li>@Html.ActionLink("Back to List", "Index", null, new { @class = "tiny button secondary"})</li>
</ul>
