@model UltimateSecuritySurvey.Models.CustomerSurvey

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>CustomerSurvey</legend>

    <div class="display-label">
       <h5>  @Html.DisplayNameFor(model => model.GenericSurvey.title)  </h5>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GenericSurvey.title)
    </div>

    <div class="display-label">
     <h5>    @Html.DisplayNameFor(model => model.Customer.companyName)  </h5>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Customer.companyName)
    </div>

    <div class="display-label">
    <h5>     @Html.DisplayNameFor(model => model.startDate)   </h5>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.startDate)
    </div>

    <div class="display-label">
    <h5>     @Html.DisplayNameFor(model => model.startComment)   </h5>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.startComment)
    </div>

    <div class="display-label">
   <h5>      @Html.DisplayNameFor(model => model.customerSurveyTitle)  </h5>
    </div>
    <div class="display-field">
         @Html.DisplayFor(model => model.customerSurveyTitle)
    </div>

    <div class="display-label">
     <h5>    @Html.DisplayNameFor(model => model.UserAccount.firstName)   </h5>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserAccount.firstName)
    </div>

    <div class="display-label">
    <h5>     @Html.DisplayNameFor(model => model.UserAccount1.firstName)  </h5>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserAccount1.firstName)
    </div>

    <div class="display-label">
  <h5>       @Html.DisplayNameFor(model => model.endDate)   </h5>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.endDate)
    </div>

    <div class="display-label">
   <h5>      @Html.DisplayNameFor(model => model.endComment)   </h5>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.endComment)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
