@model IEnumerable<UltimateSecuritySurvey.Models.CustomerSurvey>

@{
    ViewBag.Title = "Customer Surveys";
    ViewBag.PageHeader = "Customer Surveys";
    bool teacherRoleCheck = User.IsInRole("Teacher");
}

@section Sidebar{
    @if (teacherRoleCheck)
    {    
        @Html.ActionLink("Create New", "Create")
        @Html.ActionLink("Generic surveys", "Index", "GenericSurvey")
    }
}

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.customerSurveyTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.companyName)
        </th>
        <th>
            Base survey
        </th>

        <th>
            @Html.DisplayNameFor(model => model.startDate)
        </th>
        <th>
            Observer
        </th>
        <th>
            Supervisor
        </th>
        <th>
            @Html.DisplayNameFor(model => model.endDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @if (User.Identity.Name == item.UserAccount.userName || User.Identity.Name == item.UserAccount1.userName)
            {
                @Html.ActionLink(item.customerSurveyTitle, "Index", "SurveyReport", 
                                new { id = item.surveyId }, new { title = "Survey Report" })
            }
            else
            {
                @Html.DisplayFor(modelItem => item.customerSurveyTitle)
            }           
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.companyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GenericSurvey.title)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.startDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserAccount.userName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserAccount1.userName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.endDate)
        </td>
        <td>
            @if (teacherRoleCheck)
            {
                <div class="iconHolder">
                    @Html.ActionLink(" ", "Edit", new { id = item.surveyId }, 
                        new{ title = "Edit", @class = "step fi-pencil size-24 black" })
                    @Html.ActionLink(" ", "Details", new { id = item.surveyId }, 
                        new{ title="Details", @class = "fi-page size-24 black" }) 

                    <a href="@Url.Action("Delete", new {id = item.surveyId})" class="fi-trash size-24 black"
                            title="Delete" data-reveal-id="deleteModal" data-reveal-ajax="true"> </a>
                </div>
            }
            else
            {
                @Html.ActionLink(" ", "Details", new { id = item.surveyId }, 
                        new{ title="Details", @class = "fi-page size-24 black" })
            }            
        </td>
    </tr>
}

</table>
