@model UltimateSecuritySurvey.Models.GenericCountermeasure

@{
    ViewBag.Title = "Delete";
}

@if (IsAjax)
{
    <a class="close-reveal-modal">&#215;</a>
}

<h2>Delete</h2>
<h3>Are you sure you want to delete this?</h3>

    @Html.HiddenFor(model => model.countermeasureId)

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Question.questionTextMain)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Question.questionTextMain)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dateAndTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dateAndTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GenericCountermeasure2.title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GenericCountermeasure2.title)
    </div>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="large-3 columns">
            <input type="submit" value="Delete" class="small button alert"/>
        </div>
        <div class="large-9 columns">
            @Html.ActionLink("Back to List", "Details", "Question", new {id = Model.questionId }, new { @class="small button"})
        </div>
    </div>
             
}
