@model IEnumerable<UltimateSecuritySurvey.Models.QuestionCategory>

<div class="CSSTableGenerator">
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.categoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>   
        <td>
            @Html.DisplayFor(modelItem => item.categoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
    </tr>          

}
</table>
</div>

<p>
    @Html.ActionLink("Full Category List", "Index", "Category")
</p>
