@model UltimateSecuritySurvey.Models.FrontPageModel

@{
    ViewBag.Title = "Dashboard";
    ViewBag.PageHeader = "Dashboard";
    ViewBag.SidebarHeader = "Stats";
}

    <div class="row">
        <div class="large-11 columns panel">
            <h6>Generic Surveys</h6>
            @Html.Partial("SurveyBox", Model.customerSurveys)
        </div>
    </div>

    <div class="row">
        <div class="large-5 columns panel">
            <h6>Customers</h6>
            @Html.Partial("CustomerBox", Model.customers)
        </div>

        <div class="large-5 pull-1 columns panel">
            <h6>Users</h6>
            @Html.Partial("UserBox", Model.users)
        </div>
    </div>

@section Sidebar{
<div class="panel scrollable-medium">
    <h5>Related: </h5>
        <table>
        @foreach (var item in ViewBag.Stats as Dictionary<string, int>)
        {
            <tr>
                <td>@item.Key</td>
                <th>@item.Value</th>
            </tr> 
        }  
    </table>  
</div>
}




