@model IEnumerable<UltimateSecuritySurvey.Models.Question>


<table>
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.questionTextMain)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.questionTextExtra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.baseLevel2RequirementText)
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.questionTextMain)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.questionTextExtra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.baseLevel2RequirementText)
        </td>


    </tr>
}

</table>
<p>
    @Html.ActionLink("Full Question List", "Index", "question")
</p>
