@model IEnumerable<UltimateSecuritySurvey.Models.CustomerSurvey>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.customerSurveyTitle)
        </th>
        <th>
            Company
        </th>
        <th>
            @Html.DisplayNameFor(model => model.startDate)
        </th>
        <th>
            Observer
        </th>
        <th>
            Supervisor
        </th>
        <th>
            @Html.DisplayNameFor(model => model.endDate)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.customerSurveyTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.companyName)
        </td>      
        <td>
            @Html.DisplayFor(modelItem => item.startDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserAccount.userName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserAccount1.userName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.endDate)
        </td>
    </tr>
}
</table>

@Html.ActionLink("Full list of Surveys", "Index", "CustomerSurvey")