@model IEnumerable<UltimateSecuritySurvey.Models.UserAccount>


<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isTeacher)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isTeacher)
        </td>
    </tr>
}

</table>

@Html.ActionLink("Full list of users", "Index", "User")
