@model UltimateSecuritySurvey.Models.AnswerOption

@{
    ViewBag.Title = "Answer option editor";
}

@using (Html.BeginForm("CreateEdit", "AnswerOption")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

        @Html.HiddenFor(model=>model.questionId)
        @Html.HiddenFor(model=>model.answerNumber)

    <div class="row">
        <div class="large-9 columns">
            @Html.LabelFor(model=>model.Question.questionTextMain)
            <p>@Html.DisplayFor(model=>model.Question.questionTextMain)</p>
        </div>
    </div>

    <div class="row">
        <div class="large-9 columns">
            @Html.LabelFor(model => model.answerText)

            @Html.EditorFor(model => model.answerText)
            @Html.ValidationMessageFor(model => model.answerText)
        </div>
    </div>
            <input type="submit" value="Save" class="small button success"/>
}

    @Html.ActionLink("Back to List", "Details", "Question", new { id = Model.questionId }, new { @class="tiny button secondary"})


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
