@model UltimateSecuritySurvey.Models.AnswerOption

@{
    ViewBag.Title = "Answer option editor";
}

@using (Html.BeginForm("CreateEdit", "AnswerOption")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

        @Html.HiddenFor(model=>model.questionId)
        @Html.HiddenFor(model=>model.answerNumber)

        <div class="editor-label">
            @Html.LabelFor(model=>model.Question.questionTextMain)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model=>model.Question.questionTextMain)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.answerText)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.answerText)
            @Html.ValidationMessageFor(model => model.answerText)
        </div>

        <p>
            <input type="submit" value="Save" class="small button success"/>
        </p>
}

<div>
    @Html.ActionLink("Back to List", "Details", "Question", new { id = Model.questionId }, new { @class="tiny button secondary"})
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
