@model UltimateSecuritySurvey.Models.AnswerOption

@{
    ViewBag.Title = "Delete";
}

@if (IsAjax)
{
    <a class="close-reveal-modal">&#215;</a>
    <h3>Delete</h3>
}
else{
    ViewBag.PageHeader = "Delete";
}

<h4>Are you sure you want to delete this?</h4>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Question.questionTextMain)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Question.questionTextMain)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.answerNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.answerNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.answerText)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.answerText)
    </div>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <div class="large-3 columns">
        <input type="submit" value="Delete" class="small button alert"/>
    </div>
    <div class="large-9 columns">
        @Html.ActionLink("Back to List", "Details", "Question", new {id = Model.questionId}, new { @class="small button"})
    </div>
}
