@model UltimateSecuritySurvey.Models.GenericCountermeasure

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>GenericCountermeasure</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.countermeasureId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.countermeasureId)
            @Html.ValidationMessageFor(model => model.countermeasureId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.questionId, "Question")
        </div>
        <div class="editor-field">
            @Html.DropDownList("questionId", String.Empty)
            @Html.ValidationMessageFor(model => model.questionId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.title)
            @Html.ValidationMessageFor(model => model.title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.description)
            @Html.ValidationMessageFor(model => model.description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.dateAndTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.dateAndTime)
            @Html.ValidationMessageFor(model => model.dateAndTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.motherCountermeasure, "GenericCountermeasure2")
        </div>
        <div class="editor-field">
            @Html.DropDownList("motherCountermeasure", String.Empty)
            @Html.ValidationMessageFor(model => model.motherCountermeasure)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
