@model UltimateSecuritySurvey.Models.GenericCountermeasure

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>GenericCountermeasure</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.countermeasureId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.countermeasureId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Question.questionTextMain)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Question.questionTextMain)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dateAndTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dateAndTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GenericCountermeasure2.title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GenericCountermeasure2.title)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
