@model UltimateSecuritySurvey.Models.GenericSurvey

@{
    ViewBag.Title = "Survey editor";
}

@using (Html.BeginForm("CreateEdit", "GenericSurvey")) {
    @Html.ValidationSummary(true)

        @Html.HiddenFor( model => model.surveyId)

    <div class="row">
        <div class="large-6 columns">
            @Html.LabelFor(model => model.title)

            @Html.EditorFor(model => model.title)
            @Html.ValidationMessageFor(model => model.title)
        </div>
    </div>

    <div class="row">
        <div class="large-9 columns">
            @Html.LabelFor(model => model.description)

            @Html.EditorFor(model => model.description)
            @Html.ValidationMessageFor(model => model.description)
        </div>
    </div>

    <div class="row">
        <div class="large-2 columns">
            @Html.LabelFor(model => model.baseLevel)

            @Html.EditorFor(model => model.baseLevel)
            @Html.ValidationMessageFor(model => model.baseLevel)
        </div>
    </div>

    <div class="row">
        <div class="large-6 columns">
            @Html.LabelFor(model => model.supervisorUserId, "Supervisor")

            @Html.DropDownList("supervisorUserId", String.Empty)
            @Html.ValidationMessageFor(model => model.supervisorUserId)
        </div>
    </div>
    
    <div class="row">
        <div class="large-12 columns scrollable">
            <table>
                <tr>
                    @{
                        int cnt = 0;
                        List<UltimateSecuritySurvey.Models.GenericSurveyQuestion> questions = ViewBag.questions;

                        foreach (var question in questions)
                        {
                            if (cnt++ % 3 == 0)
                            {
                                @:<tr></tr>
                            }
                            @:<td>
                                <input type="checkbox"
                                       name="selectedQuestions"
                                       value="@question.QuestionId"
                                       @(Html.Raw(question.Assigned ? "checked=\"checked\"" : "")) />
                                @question.QuestionId  @question.QuestionText
                           @:</td>
                        }
                  @:</tr>
                    }
            </table>
        </div>
    </div>

    <input type="submit" value="Save" class="small button success"/>
}

    @Html.ActionLink("Back to List", "Index", null, new { @class="tiny button secondary"})


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
