@model UltimateSecuritySurvey.Models.GenericSurvey

@{
    ViewBag.Title = "Delete";
}

@if (IsAjax)
{
    <a class="close-reveal-modal">&#215;</a>
}

<h2>Delete</h2>
<h3>Are you sure you want to delete this?</h3>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.surveyId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.surveyId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.baseLevel)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.baseLevel)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserAccount.firstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserAccount.firstName)
    </div>

@using (Html.BeginForm()) {
        
    <div class="row">
        <div class="large-3 columns">
            <input type="submit" value="Delete" class="small button alert"/>
        </div>
        <div class="large-9 columns">
            @Html.ActionLink("Back to List", "Index", null, new { @class="small button"})
        </div>
    </div>
        
}
