@model IEnumerable<UltimateSecuritySurvey.Models.GenericSurvey>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.surveyId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.baseLevel)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.surveyId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.baseLevel)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.surveyId }) |
            @Html.ActionLink("Details", "Details", new { id=item.surveyId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.surveyId })
        </td>
    </tr>
}

</table>
