@model IEnumerable<UltimateSecuritySurvey.Models.GenericSurvey>

@{
    ViewBag.Title = "Generic Surveys";
}

<h2>Generic Surveys</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class="tiny button secondary"})
    @Html.ActionLink("Customer surveys", "Index", "CustomerSurvey", null, new { @class="tiny button"})
</p>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.baseLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserAccount.firstName)
        </th>
        <th>
            Included questions
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.baseLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserAccount.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Questions.Count)
        </td>
        <td>
            <div class="iconHolder">
                @Html.ActionLink(" ","Edit",new {id = item.surveyId}, new{ title = "Edit", @class = "step fi-pencil size-24 black" })
                @Html.ActionLink(" ","Details",new {id = item.surveyId}, new{title="Details", @class = "fi-page size-24 black" })

                <a href="@Url.Action("Delete", new {id = item.surveyId})" class="fi-trash size-24 black"
                        title="Delete" data-reveal-id="deleteModal" data-reveal-ajax="true"> </a>
            </div>        
        </td>
    </tr>
}
</table>
