@model IEnumerable<UltimateSecuritySurvey.Models.GenericSurvey>

@{
    ViewBag.Title = "Generic Surveys";
}

<h2>Generic Surveys</h2>
<h3> @ViewBag.DeleteError </h3>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class="tiny button secondary"})
</p>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.baseLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserAccount.firstName)
        </th>
        <th>
            Included questions
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.baseLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserAccount.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Questions.Count)
        </td>
        <td>
            @Html.ActionLink(" ","Edit",new {id = item.surveyId}, 
                    new{title="Edit", style = "background: url('" + Url.Content("~/Content/imgs/pencil.png") + "') no-repeat center right; display:inline-block; height:24px; width:28px;"})

            @Html.ActionLink(" ","Details",new {id = item.surveyId}, 
                    new{title="Details", style = "background: url('" + Url.Content("~/Content/imgs/notepad.png") + "') no-repeat center right; display:inline-block; height:24px; width:28px;"})

            @Html.ActionLink(" ","Delete",new {id = item.surveyId}, 
                    new{title="Delete", style = "background: url('" + Url.Content("~/Content/imgs/bin.png") + "') no-repeat center right; display:inline-block; height:24px; width:28px;"}) 
        
        </td>
    </tr>
}
</table>
