@model IEnumerable<UltimateSecuritySurvey.Models.GenericSurvey>

@{
    ViewBag.Title = "Surveys";
}

<h2>Surveys</h2>
<h3> @ViewBag.DeleteError </h3>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="CSSTableGenerator">
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.baseLevel)
        </th>
        <th>Questions</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.baseLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Questions.Count)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.surveyId }) |
            @Html.ActionLink("Details", "Details", new { id=item.surveyId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.surveyId })
        </td>
    </tr>
}

</table>
</div>
