@model UltimateSecuritySurvey.Models.Customer

@{
    ViewBag.Title = "Customer editor";
    ViewBag.SidebarHeader = "Sidebar";
}

@using (Html.BeginForm("CreateEdit","Customer")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.customerId)

    <div class="row">
        <div class="large-6 columns">
            @Html.LabelFor(model => model.companyName)

            @Html.EditorFor(model => model.companyName)
            @Html.ValidationMessageFor(model => model.companyName)
        </div>
    </div>

    <div class="row">
        <div class="large-6 columns">
            @Html.LabelFor(model => model.contactFirstName)

            @Html.EditorFor(model => model.contactFirstName)
            @Html.ValidationMessageFor(model => model.contactFirstName)
        </div>
    </div>

    <div class="row">
        <div class="large-6 columns">
            @Html.LabelFor(model => model.contactLastName)

            @Html.EditorFor(model => model.contactLastName)
            @Html.ValidationMessageFor(model => model.contactLastName)
        </div>
    </div>

    <div class="row">
        <div class="large-6 columns">
            @Html.LabelFor(model => model.email)

            @Html.EditorFor(model => model.email)
            @Html.ValidationMessageFor(model => model.email)
        </div>
    </div>
    
    <div class="row">
        <div class="large-6 columns">
            @Html.LabelFor(model => model.phone)
        
            @Html.EditorFor(model => model.phone)
            @Html.ValidationMessageFor(model => model.phone)
        </div>
    </div>

    <input type="submit" value="Save" class="small button success"/>
}

    @Html.ActionLink("Back to List", "Index", null, new { @class="tiny button secondary"})

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
