@model UltimateSecuritySurvey.Models.Customer

@{
    ViewBag.Title = "Customer editor";
}

<h4>@ViewBag.Message</h4>

@using (Html.BeginForm("CreateEdit","Customer")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.customerId)

        <div class="editor-label">
           <h5> @Html.LabelFor(model => model.companyName) </h5>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.companyName)
            @Html.ValidationMessageFor(model => model.companyName)
        </div>

        <div class="editor-label">
        <h5>    @Html.LabelFor(model => model.contactFirstName) </h5>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.contactFirstName)
            @Html.ValidationMessageFor(model => model.contactFirstName)
        </div>

        <div class="editor-label">
        <h5>    @Html.LabelFor(model => model.contactLastName)    </h5>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.contactLastName)
            @Html.ValidationMessageFor(model => model.contactLastName)
        </div>

        <div class="editor-label">
       <h5>     @Html.LabelFor(model => model.email)   </h5>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.email)
            @Html.ValidationMessageFor(model => model.email)
        </div>

        <div class="editor-label">
      <h5>      @Html.LabelFor(model => model.phone)    </h5>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.phone)
            @Html.ValidationMessageFor(model => model.phone)
        </div>

        <p>
            <input type="submit" value="Save" class="small button success"/>
        </p>

}

<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class="tiny button secondary"})
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
