@model UltimateSecuritySurvey.Models.Customer

@{
    ViewBag.Title = "Delete";
}

@if (IsAjax)
{
    <a class="close-reveal-modal">&#215;</a>
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Customer</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.companyName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.companyName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.contactFirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.contactFirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.contactLastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.contactLastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.phone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.phone)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
        <input type="submit" value="Delete" class="small button alert"/>
        
}
@Html.ActionLink("Back to List", "Index", null, new { @class="tiny button secondary"})