@model UltimateSecuritySurvey.Models.Customer

@{
    ViewBag.Title = "Customer details";
    ViewBag.PageHeader = "Customer details";
    string currentUser = User.Identity.Name;
}

    <div class="display-label">
        <h5>@Html.DisplayNameFor(model => model.companyName) </h5>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.companyName)
    </div>


    <h5>Contact name </h5>
    <div class="display-field">
        @Html.DisplayFor(model => model.contactFirstName)
        @Html.DisplayFor(model => model.contactLastName)
    </div>

    <div class="display-label">
       <h5>  @Html.DisplayNameFor(model => model.email) </h5>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.email)
    </div>

    <div class="display-label">
      <h5>   @Html.DisplayNameFor(model => model.phone)  </h5>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.phone)
    </div>

<ul class="button-group">
    @if (User.IsInRole("Teacher"))
    {
        <li>@Html.ActionLink("Edit", "Edit", new { id=Model.customerId }, new { @class = "tiny button secondary"})</li>
    }
    
    <li>@Html.ActionLink("Back to List", "Index", null, new { @class = "tiny button secondary"})</li>
</ul>

@section Sidebar{
    <h5>Company security</h5>
    good / bad 32 %
}

<div class="panel">
    <h5> Assigned surveys </h5>
    <ul class="side-nav">
    @foreach(var item in Model.CustomerSurveys)
    {
        if (currentUser == item.UserAccount.userName || currentUser == item.UserAccount1.userName)
        {
            <li>@Html.ActionLink(item.customerSurveyTitle, "Index", "Survey Report", 
                        new { id = item.surveyId }, new { title = "Survey Report"})</li>
        }
        else
        {
            <li>@Html.ActionLink(item.customerSurveyTitle, "Details", "CustomerSurvey", new{id=item.surveyId}, null)</li>
        }
        
    }
    </ul>
</div>
    