@model UltimateSecuritySurvey.Models.Customer

@{
    ViewBag.Title = "Customer details";
}

<h2>Details</h2>

    <div class="display-label">
        <h5> @Html.DisplayNameFor(model => model.companyName) </h5>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.companyName)
    </div>

    <div class="display-label">
      <h5>   @Html.DisplayNameFor(model => model.contactFirstName) </h5>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.contactFirstName)
    </div>

    <div class="display-label">
       <h5>  @Html.DisplayNameFor(model => model.contactLastName)  </h5>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.contactLastName)
    </div>

    <div class="display-label">
       <h5>  @Html.DisplayNameFor(model => model.email) </h5>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.email)
    </div>

    <div class="display-label">
      <h5>   @Html.DisplayNameFor(model => model.phone)  </h5>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.phone)
    </div>
    
    <div class="display-label">
      <h5> Assigned surveys </h5>
    </div>
    <div class="display-field">

        <ul>
        @foreach(var item in Model.CustomerSurveys)
        {
            //Later to Links
            //<li>@Html.ActionLink(item.customerSurveyTitle, "Details", "CustomerSurvey",new{id=item.surveyId}, null)</li>
            <li>- @Html.DisplayFor(model => item.customerSurveyTitle)</li>
        }
        </ul>
    </div>

<ul class="button-group">
    @Html.ActionLink("Edit", "Edit", new { id=Model.customerId }, new { @class = "tiny button secondary"})
    @Html.ActionLink("Back to List", "Index", null, new { @class = "tiny button secondary"})
</ul>