@model UltimateSecuritySurvey.Models.Customer

@{
    ViewBag.Title = "Customer details";
    ViewBag.PageHeader = "Customer details";
}

    <div class="display-label">
        <h5>@Html.DisplayNameFor(model => model.companyName) </h5>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.companyName)
    </div>

    <h5>Contact name </h5>
    <div class="display-field">
        @Html.DisplayFor(model => model.contactFirstName)
        @Html.DisplayFor(model => model.contactLastName)
    </div>

    <div class="display-label">
       <h5>  @Html.DisplayNameFor(model => model.email) </h5>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.email)
    </div>

    <div class="display-label">
      <h5>   @Html.DisplayNameFor(model => model.phone)  </h5>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.phone)
    </div>

<ul class="button-group">
    @if (User.IsInRole("Teacher"))
    {
        <li>@Html.ActionLink("Edit", "Edit", new { id=Model.customerId }, new { @class = "tiny button secondary"})</li>
    }
    
    <li>@Html.ActionLink("Back to List", "Index", null, new { @class = "tiny button secondary"})</li>
</ul>

@section Sidebar{
    <div class="panel">
        <h5>Stats</h5>
        <table>
            <tr>
                <td>Amount of surveys</td>
                <th>@ViewBag.ImplementedSurveysCount</th>
            </tr>
            <tr>
                <td>Average Base level</td>
                <th>@ViewBag.AvgBaseLevel</th>
            </tr>
        </table>

        <h6>Company security</h6>
        <div class="progress large-12 @ViewBag.BarColor round">
            <span class="meter" style="width: @ViewBag.CompanySecurity"></span>
        </div>
    </div>
}

<div class="panel">
    <h5>Implemented surveys</h5>
    @Html.Partial("ImplementedSurveysPartial", Model.CustomerSurveys)
</div>
    