@model IEnumerable<UltimateSecuritySurvey.Models.Customer>

@{
    ViewBag.Title = "Customers";
}

<h2>Customers</h2>
<h3> @ViewBag.DeleteError </h3>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class="tiny button secondary"})
</p>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.companyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contactFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contactLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th>
            Amount of Customer Surveys
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.companyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contactFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contactLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.CustomerSurveys.Count)
        </td>

        <td>
            @Html.ActionLink(" ","Edit",new {id = item.customerId}, 
                    new{title="Edit", style = "background: url('" + Url.Content("~/Content/imgs/pencil.png") + "') no-repeat center right; display:inline-block; height:24px; width:28px;"})

            @Html.ActionLink(" ","Details",new {id = item.customerId}, 
                    new{title="Details", style = "background: url('" + Url.Content("~/Content/imgs/notepad.png") + "') no-repeat center right; display:inline-block; height:24px; width:28px;"})

            @Html.ActionLink(" ","Delete",new {id = item.customerId}, 
                    new{title="Delete", style = "background: url('" + Url.Content("~/Content/imgs/bin.png") + "') no-repeat center right; display:inline-block; height:24px; width:28px;"}) 
        
        </td>
    </tr>
}

</table>
